{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<header id="hero-image">
  <div class="container d-flex align-items-center justify-content-center intro-row signup-form">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md-8 pt-5">
        <h3>{% trans "Sign Up" %}</h3>

        <p>{% blocktrans %}Welcome to Ceru, please sign up to get booking!</p>
        <p>Already have an account? Click <a class="link" href="{{ login_url }}">here</a> to login.{% endblocktrans %}
        </p>
      </div>


      <div class="col-4 pb-2 py-md-5">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-signup right" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
  </div>
</header>

{% endblock %}