{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<!-- SIGN UP FORM -->
<header id="signup-hero-image">
  <div class="container d-flex align-items-center justify-content-center signup-form mt-5">
    <div class="row d-flex align-items-center signup-row">
      <div class="col-12 col-md-8 pt-5 pt-md-0">
        <h3 class='pt-2 pt-md-0'>{% trans "Sign Up" %}</h3>
        <p>{% blocktrans %}Welcome to the Ceru family!</p>
        <p>Please sign up to get booking!</p>
        <p>Already have an account? Click <a class="link" href="{{ login_url }}">here</a> to login.{% endblocktrans %}</p>
      </div>
      <div class="col-7 col-sm-6 col-md-4 pb-5 mx-auto py-md-5">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form | crispy}}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-signup right mt-4" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
  </div>
</header>
{% endblock content %}