/* ----------------------------------------- ALL */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0C5679;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Monoton', sans-serif;
    color: #FFE7BD;
}

p {
    font-family: 'Poppins', sans-serif;
}

section {
    border-bottom: 1px solid #FFE7BD;
}

/* ---------------------------------------------------------------------------------- BASE.HTML */
/* ----------------------------------------- NAVIGATION BAR */
#nav-logo {
    font-family: 'Monoton', sans-serif;
    font-size: 30px;
    color: #FFE7BD;
}

.navbar {
    background-color: #E5340B;
}

.navbar a,
span {
    font-family: 'Poppins', sans-serif;
    color: #FFE7BD !important;
    font-size: 14px;
    padding-bottom: 0;
}

.navbar a:hover {
    transform: scale(1.1);
    border-bottom: 0.5px solid #FFE7BD;
    transition: 1s;
}

/* ----------------------------------------- FOOTER */
.footer {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #E5340B;
    color: #FFE7BD;
}

/* ---------------------------------------------------------------------------------- INDEX.HTML */
/* ----------------------------------------- HERO IMAGE & INTRO */
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero3.jpeg') no-repeat center center;
    background-size: cover;
    color: #FFE7BD;
    margin-top: 50px;
}

.intro {
    height: 450px;
}


#hero-image button,
#signup-hero-image button,
#menus button {
    font-family: 'Poppins', sans-serif;
    background-color: #E5340B;
    color: #FFE7BD;
}

#hero-image button:hover,
#signup-hero-image button:hover,
#menus button:hover {
    background-color: #FFE7BD;
    color: #E5340B;
    transition: 1s;
}

#hero-image h4,
#signup-hero-image h4 {
    font-family: 'Poppins', sans-serif !important;
    color: #FFE7BD;
}

.intro-row {
    background-color: rgba(12, 86, 121, 0.4);
}

.intro-msg {
    margin: 10px 0;
}

/* ----------------------------------------- ABOUT US SECTION */
#about-us {
    height: auto;
    color: #FFE7BD;
}

#about-us h2,
#menus h2 {
    border-bottom: 1px solid #FFE7BD;
}

.about-us-container {
    height: 100%;
}

.about-us-text {
    padding: 30px;
}

/* ----------------------------------------- MENUS SECTION */
.menu-title {
    padding: 50px 0 30px 0;
}

.carousel-col {
    padding: 0;
}

/* ---------------------------------------------------------------------------------- SIGNUP.HTML */
#signup-hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero2.png') no-repeat center center;
    background-size: cover;
    color: #FFE7BD;
    margin-top: 50px;
}

.signup-row {
    background-color: rgba(0, 0, 0, 0.6);
}

.link {
    color: #FFE7BD;
}

.link:hover {
    color: #E5340B;
}