@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0C5679;
}

html {
    scroll-behavior: smooth;
}

/* ----------------------------------------- Navbar */
#nav-logo {
    font-family: 'Monoton', sans-serif;
    font-size: 30px;
    color: #FFE7BD;
}

.navbar {
    background-color: #E5340B;
}

.navbar a,
span {
    font-family: 'Poppins', sans-serif;
    color: #FFE7BD !important;
    font-size: 14px;
}

/* ----------------------------------------- Footer */
.footer {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #E5340B;
    color: #FFE7BD;
}

/* ----------------------------------------- Hero Image */
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero3.jpeg') no-repeat center center;
    background-size: cover;
    color: #FFE7BD;
    margin-top: 70px;
}

.intro {
    height: 450px;
}

#hero-image h1 {
    font-family: 'Monoton', sans-serif;
}

#hero-image button {
    font-family: 'Poppins', sans-serif;
    background-color: #E5340B;
    color: #FFE7BD;
}

#hero-image h4 {
    font-family: 'Poppins', sans-serif;
    color: #FFE7BD;
}

.intro-row {
    background-color: rgba(12, 86, 121, 0.4);
}

.intro-msg {
    margin: 10px 0;
}