/* ----------------------------------------- ALL */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0C5679;
}

html {
    scroll-behavior: smooth;
}

/* ----------------------------------------- NAVIGATION BAR */
#nav-logo {
    font-family: 'Monoton', sans-serif;
    font-size: 30px;
    color: #FFE7BD;
}

.navbar {
    background-color: #E5340B;
}

.navbar a,
span {
    font-family: 'Poppins', sans-serif;
    color: #FFE7BD !important;
    font-size: 14px;
    padding-bottom: 0;
}

.navbar a:hover {
    transform: scale(1.1);
    border-bottom: 0.5px solid #FFE7BD;
    transition: 1s;
}

/* ----------------------------------------- FOOTER */
.footer {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #E5340B;
    color: #FFE7BD;
}

/* ----------------------------------------- HERO IMAGE & INTRO */
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero3.jpeg') no-repeat center center;
    background-size: cover;
    color: #FFE7BD;
    margin-top: 50px;
}

.intro {
    height: 450px;
}

#hero-image h1 {
    font-family: 'Monoton', sans-serif;
}

#hero-image button {
    font-family: 'Poppins', sans-serif;
    background-color: #E5340B;
    color: #FFE7BD;
}

#hero-image button:hover {
    background-color: #FFE7BD;
    color: #E5340B;
    transition: 1s;
}

#hero-image h4 {
    font-family: 'Poppins', sans-serif;
    color: #FFE7BD;
}

.intro-row {
    background-color: rgba(12, 86, 121, 0.4);
}

.intro-msg {
    margin: 10px 0;
}

/* ----------------------------------------- ABOUT US SECTION */
#about-us {
    height: 600px;
}

.about-us-container {
    height: 100%;
}