{% extends "base.html" %}
{% load static %}

{% block content %}

<header id="booking-hero-image">
    <div class="col-12 col-md-10 col-lg-8 m-auto d-flex align-items-center justify-content-center signup-form mt-5">
        <div class="col-md-12 signup-row">
            <h1 class="my-5 text-center">Make a Booking</h1>
            <form action="{% url 'booking' %}" class="col" method="POST" id="booking-form">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="firstName" class="col-4 col-md-3 col-form-label text-center">First Name</label>
                    <div class="col-7 col-md-8">
                        <input type="text" class="form-control" id="firstName" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="lastName" class="col-4 col-md-3 col-form-label text-center">Last Name</label>
                    <div class="col-7 col-md-8">
                        <input type="text" class="form-control" id="lastName" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="emailAddress" class="col-4 col-md-3 col-form-label text-center">E-mail</label>
                    <div class="col-7 col-md-8">
                        <input type="email" class="form-control" id="emailAddress" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="phoneNumber" class="col-4 col-md-3 col-form-label text-center">Phone Nº</label>
                    <div class="col-7 col-md-8">
                        <input type="text" class="form-control" id="phoneNumber">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="date" class="col-4 col-md-3 col-form-label text-center">Date</label>
                    <div class="col-7 col-md-8">
                        <input type="date" class="form-control" id="date" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="time" class="col-4 col-md-3 col-form-label text-center">Time</label>
                    <div class="col-7 col-md-8">
                        <input type="time" class="form-control" id="time" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="quantity" class="col-4 col-md-3 col-form-label text-center">Nº of guests</label>
                    <div class="col-7 col-md-8">
                        <input type="number" class="form-control" id="quantity" min="1" max="6" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="requirements" class="col-4 col-md-3 col-form-label text-center">Any requirements?</label>
                    <div class="col-7 col-md-8">
                        <textarea id="requirements" class="form-control" style="height: 188px;"></textarea>
                    </div>
                </div>
                <div class="col-11 m-auto">
                    <button type="reset" class="btn btn-secondary btn-lg">Reset</button>
                    <button type="submit" class="btn btn-secondary btn-lg">Book</button>
                </div>
            </form>
        </div>
    </div>
</header>

{% endblock content %}