{% extends "base.html" %}
{% load static %}

{% block content %}

<header id="booking-hero-image">
    <div class="col-12 col-md-10 col-lg-8 m-auto d-flex align-items-center justify-content-center py-5">
        <div class="row signup-row">
            <h1 class="my-5 text-center">Your Bookings</h1>
            {% for booking in booking_list %}
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Booking</h5>
                    <p class="card-text mb-2 text-muted">For {{ booking.last_name }}, {{ booking.first_name }}</p>
                    <p class="card-text">For {{ booking.number_of_guests }} people</p>
                    <p class="card-text">For the {{ booking.date }}</p>
                    <p class="card-text">At {{ booking.time }}</p>
                    <p class="card-text">Made on {{ booking.created_on }}</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            {% endfor %}
            <!-- CODE CREDIT https://www.youtube.com/watch?v=3_3q_dE4_qs -->
            {% if is_paginated %}
            <div class="wrapper">
                <nav aria-label="page navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a></li>
                        {% endif %}
                        {% for number in page_obj.paginator.page_range %}
                        <li class="page-item"><a href="?page={{number}}" class="page-link">{{ number }}</a></li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
            <!-- END CREDIT -->
        </div>
    </div>
</header>

{% endblock content %}