{% extends "base.html" %}
{% load static %}
{% block content %}

<header id="booking-hero-image">
    <div class="col-12 col-md-10 col-lg-8 m-auto d-flex align-items-center justify-content-center py-5">
        <div class="row signup-row">
            <h3 class="my-5 text-center text-uppercase">Your Bookings</h3>
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% if booking_list %}
            {% for booking in booking_list %}
            <div class="card mx-auto mb-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Booking</h5>
                    <p class="card-text mb-2 text-muted">For {{ booking.last_name }}, {{ booking.first_name }}</p>
                    <p class="card-text">For {{ booking.number_of_guests }} people</p>
                    <p class="card-text">For the {{ booking.date }}</p>
                    <p class="card-text">At {{ booking.time }}</p>
                    <p class="card-text">Made on {{ booking.created_on }}</p>
                    <a href="{% url 'edit-booking' booking.id %}" class="link">
                        <button class="btn btn-secondary update-link">Update Booking</button>
                    </a>
                    <a href="{% url 'delete-booking' booking.id %}" class="link">
                        <button class="btn btn-secondary cancel-link" onclick="return confirm('Are you sure?')">
                            Cancel Booking
                        </button>
                    </a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12 d-flex align-items-center justify-content-center">
                <p class="mb-5">You seem to not have any bookings yet...</p>
            </div>
            {% if user.is_authenticated %}
            <div class="col-12 d-flex align-items-center justify-content-center">
                <a href="{% url 'booking' %}" class="booking-redirect1">
                    <button class="btn btn-secondary btn-lg mb-5 booking-redirect">Click here to get booking!</button>
                </a>
            </div>
            {% else %}
            <div class="col-12 d-flex align-items-center justify-content-center">
                <a href="{% url 'accounts/signup' %}" class="booking-redirect1">
                    <button class="btn btn-secondary btn-lg mb-5 booking-redirect">Click here to get booking!</button>
                </a>
            </div>
            {% endif %}
            {% endif %}
            <!-- CODE CREDIT https://www.youtube.com/watch?v=3_3q_dE4_qs -->
            {% if is_paginated %}
            <div class="wrapper">
                <nav aria-label="page navigation">
                    <ul class="pagination align-items-center justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page={{page_obj.previous_page_number}}" class="page-link">
                                Previous
                            </a>
                        </li>
                        {% endif %}
                        {% for number in page_obj.paginator.page_range %}
                        <li class="page-item">
                            <a href="?page={{number}}" class="page-link">{{ number }}</a>
                        </li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
            <!-- END CREDIT -->
        </div>
    </div>
</header>

{% endblock content %}