{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/edit_profile_style.css' %}">
{% endblock stylesheet %}
{% block content %}
{% load crispy_forms_tags %}

<header id="signup-hero-image">
    <div class="container d-flex align-items-center justify-content-center signup-form mt-5">
        <div class="row d-flex align-items-center signup-row">
            <div class="col-12 col-md-8 pt-5 pt-md-0">
                <h3 class="pt-2 pt-md-0 text-uppercase">Edit Profile</h3>
                <p>You can update your personal account details on this page.</p>
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            <div class="col-7 col-sm-6 col-md-4 pb-5 mx-auto py-md-5">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <a href="{% url 'edit-password' %}" class="link">Change Password</a>
                    <button class="btn btn-signup right mt-4" type="submit">Update Details</button>
                </form>
            </div>
            <a href="{% url 'delete-account' %}" class="link mb-2">Account Deletion</a>
        </div>
    </div>
</header>

{% endblock content %}