{% extends "base.html" %}

{% block content %}

<!-- HERO IMAGE & INTRO -->
<header id="hero-image">
    <div class="container intro d-flex align-items-center justify-content-center">
        <div class="row align-items-center intro-row">
            <div class="col-12 intro-msg d-flex justify-content-center">
                <h1>Welcome to Ceru</h1>
            </div>
            <div class="col-12 intro-msg d-flex justify-content-center">
                <button type="button" class="btn btn-secondary btn-lg">Book with us!</button>
            </div>
            <div class="col-12 intro-msg d-flex justify-content-center">
                <h4>Authentic American diner, est. 1972.</h4>
            </div>
        </div>
    </div>
</header>
<!-- ABOUT US SECTION -->
<section id="about-us">
    <div class="container-fluid d-flex align-items-center justify-content-center about-us-container">
        <div class="row">
            <div class="col-12 col-md-6 about-us-text">
                <h2>About Us</h2>
                <p>
                    The idea for Ceru Diner began in the early 1970's, in the heart of a man with a
                    burning passion for
                    classic American dining. But where could he experience this authentically without taking an
                    expensive plane ride
                    across the Atlantic Sea? Then the idea struck him.
                </p>
                <p>
                    Seeing that Britain lacked such a genuine classic US dining experience he set about recreating one
                    of his own, and yup, Ceru Diner was born. Night after night, he worked tirelessly to bring his plan
                    together, sparing not even the
                    tiniest of detail in recapturing the spirit and tradition of an authentic American Diner, straight
                    out of the 1950's.
                </p>
            </div>
            <div class="col d-flex justify-content-center about-us-img">
                <img src="../static/images/pinup-girl.png" alt="pin up girl image" class="about-us-img">
            </div>
        </div>
    </div>
</section>

{% endblock content %}