{% extends "base.html" %}

{% block content %}

<header id="hero-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 intro-msg">
                <h1>Welcome to Ceru</h1>
                <h3>We are an authentic American diner established in 1972 in the heart of the city of London.</h3>
            </div>
            <div class="col-12 col-sm-6 intro-msg">
                <h3>Sign up to book a table and experience what dining in the 70s felt like!</h3>
            </div>
        </div>
    </div>
</header>

{% endblock content %}