{% extends "base.html" %}

{% block content %}

<header id="hero-image">
    <div class="container intro d-flex align-items-center justify-content-center">
        <div class="row align-items-center intro-row">
            <div class="col-12 intro-msg d-flex justify-content-center">
                <h1>Welcome to Ceru</h1>
            </div>
            <div class="col-12 intro-msg d-flex justify-content-center">
                <button type="button" class="btn btn-secondary btn-lg">Book with us!</button>
            </div>
            <div class="col-12 intro-msg d-flex justify-content-center">
                <h4>Authentic American diner, est. 1972.</h4>
            </div>
        </div>
    </div>
</header>

{% endblock content %}